body{
    text-align: center;
    font-family: system-ui, system-ui, sans-serif;
    font-size: 81.25%;
}
span{
    text-decoration:underline;
}
strong{
    color:red;
}
mark{
    background-color: #d35510;
}
div{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.a{
    height: 150px;
    width: 355px;
    position: relative !important;
}